.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;

  &__logo--col {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    display: block;
    margin-bottom: 3.2rem;
    margin-left: -6%;
  }

  &__social--icon {
    width: 2.4rem;
    height: 2.4rem;
    filter: inherit;
  }

  &__social--links {
    list-style: none;
    color: #767676;
    display: flex;
    gap: 2.4rem;
  }

  &__social--link:link,
  &__social--link:active {
    text-decoration: none;
    font-size: 1.6rem;
    color: #767676;
    transition: all 0.3s;
  }

  &__copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin-top: auto;
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }

  &__nav {
    list-style: none;
    font-size: 1.6rem;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: #767676;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    color: $color-black;
  }
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2rem;
}

.address {
  margin-bottom: 4rem;
}
