$color-primary: #4ec6d9;
$color-medium-blue: #22b8cf;
$color-dark-blue: #115c68;

$color-secondary-light: #55c57a;
$color-secondary-dark: #7ed56f;

$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff7730;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #ffff;
$color-black: #333;
$color-grey-dark: #555;

//Font
$default-font-size: 1.6rem;
