.pricing {
  &__plan {
    border-radius: 11px;
    width: 75%;

    &--starter {
      justify-self: end;
      border: 2px solid $color-tint;
      padding: 4.2rem;
    }

    &--complete {
      background-color: $color-tint;
      padding: 4.8rem;
      position: relative;
      overflow: hidden;

      &::after {
        content: "Best value";
        position: absolute;
        top: 6%;
        right: -18%;

        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0.8rem 8rem;
        color: $color-black;
        background-color: $color-yellow;
        transform: rotate(45deg);
      }
    }

    &--header {
      text-align: center;
    }

    &--name {
      font-size: 2rem;
      color: $color-primary;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.75;
      margin-bottom: 3.2rem;
    }

    &--price {
      font-size: 6rem;
      font-weight: 700;
      color: $color-black;
      margin-bottom: 1.6rem;

      & span {
        font-size: 3rem;
        font-weight: 600;
        margin-right: 0.8rem;
      }
    }

    &--text {
      font-size: 1.6rem;
      line-height: 1.6;
      color: #6f6f6f;
    }

    &--details {
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.6;
    }

    @include respond(small-tablet) {
      width: 100%;
    }
  }

  &__sign-up {
    text-align: center;
    margin-top: 4.8rem;
  }
}
