@mixin button-list($top, $button) {
  background-color: $color-primary;
  color: $color-white;
  border-radius: 9px;
  padding: $top $button;
}

@mixin col($num, $fr) {
  grid-template-columns: repeat($num, $fr);
}

@mixin heading {
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
}

@mixin circleBeforeAfter($wd, $pd, $col, $zin) {
  content: "";
  display: block;
  width: $wd;
  padding-bottom: $pd;
  border-radius: 50%;
  background-color: $col;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $zin;
}

@mixin testimonialGrid($copy, $val1, $val2: null, $rgap: null, $cgap: null) {
  display: grid;
  grid-template-columns: repeat($copy, $val1 $val2);
  row-gap: $rgap;
  column-gap: $cgap;
}

// MEDIA QUERY MANAGER

// 0 - 600px:    Phone
// 600 - 900px:  Tablet portrait
// 900 - 1200p:  Tablet landscape
// [1200 - 1800] is where our normal systles apply
// 1800px + :       Big desktop

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 34em) {
      @content; // 500px
    }
  }

  @if $breakpoint == small-tablet {
    @media (max-width: 44em) {
      @content; // 700px
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content; // 900px
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content; // 1200px
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content; // 1800px
    }
  }
}
