// colors
$color-primary: #e67e22;
$color-primary-dark: #cf711f;
$color-tint: #fdf2e9;
$color-dark-tint: #fae5d3;

$color-grey-dark: #555;
$color-black: #333;
$color-white: #ffff;
$color-grey-white: #ddd;

$color-green: #51cf66;
$color-lime: #94d82d;
$color-yellow: #ffd43b;

// font-weight
