.section-info {
  background-color: $color-grey-light;
  padding: 33rem 0;
  margin-top: -15vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(78, 198, 217, 0.7),
      rgba(17, 92, 104, 0.7)
    ),
    url(../../img/nat-4.jpg);
    background-size:cover;
    background-position:bottom;
    transform: skewY(-7deg);
  margin-top: -7rem;
  
  & > * {
    transform: skewY(7deg);
  }
}

.section-tour {
  background-color: $color-grey-light;
  padding: 25rem 0;
}