.logo {
  height: 6.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $color-tint;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;

  @include respond(tab-land) {
    padding: 0 3.2rem;
  }
}
